* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  background-color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

form {
	width: 500px;
}

